<div ng-controller="headerController" class="container">
    <div class="row">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; Cozy Home 2017</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                <li><a href="https://twitter.com/GwennCharlot" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/Home-Sweet-Home-FR-1331795100254944/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://fr.linkedin.com/in/robin-bonduelle-6812a626" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li><a href="#">Confidentialité</a>
                </li>
                <li><a href="#">Conditions générales</a>
                </li>
                <li ng-show='user.username'><a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
