<div ng-controller="headerController">
  <nav ng-show='!user.username' id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        
        <div class="container">
           
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <div ng-show='isActive("/")'>
                  <a class="page-scroll" href="#page-top"><img class="img-responsive logo" src="assets/img/logos/cozy-home.png" alt="Logo Cozy Home"></a>
                  <a class="navbar-brand page-scroll" href="#page-top">Cozy Home</a>
                </div>

                <div ng-show='isActive("/landing")'>
                  <a class="page-scroll" href="/"><img class="img-responsive logo" src="assets/img/logos/cozy-home.png" alt="Logo Cozy Home"></a>
                  <a class="navbar-brand page-scroll" href="/">Cozy Home</a>
                </div>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul ng-show='isActive("/")' class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">La promesse</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Le principe</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">L'équipe</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="menu" data-toggle="modal" data-target="#loginModal" href="#">Se connecter</a>
                    </li>
                </ul>

                <ul ng-show='isActive("/landing")' class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a class="menu" data-toggle="modal" data-target="#loginModal" href="#">Se connecter</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
  </nav>

  <nav ng-show='user.username' id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
    <div class="container" ng-show='user.username'>
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a href="/apparts"><img class="img-responsive logo" src="assets/img/logos/cozy-home.png" alt="Logo Cozy Home"></a>
          <a class="navbar-brand" href="/apparts">Cozy Home</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/searchs')}">
                <a class="menu" href="/searchs">Mes recherches</a>
            </li>
            <li ng-class="{ active: isActive('/apparts')}">
                <a class="menu" href="/apparts">Mes annonces</a>
            </li>
            <li ng-class="{ active: isActive('/about')}">
                <a class="menu" href="/about">Aide</a>
            </li>
            <li ng-class="{ active: isActive('/users')}" class="myAccount dropdown visible-sm-block visible-md-block visible-lg-block">
                <a data-toggle="dropdown" class="menu dropdown-toggle"><i class="fa fa-user-o text-primary"></i> {{ user.name }}</a>
                <ul class="dropdown-menu">
                  <li><a href="/users/{{ user._id }}">Mon profil</a></li>
                  <li><a href="#" ng-controller="logoutController" ng-click="logoutUser()">Se déconnecter</a></li>
                </ul>     
            </li>
            <li ng-class="{ active: isActive('/users')}" class="myAccount dropdown visible-xs-block">
                <a href="/users/{{ user._id }}"> MON PROFIL</a>
            </li>    
            <li class="myAccount dropdown visible-xs-block"><a href="#" ng-controller="logoutController" ng-click="logoutUser()">SE DECONNECTER</a>     
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
</div>

<!-- login modal -->

<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div ng-controller="loginController" class="modal-content">
      <div class="modal-header">
        <span class="fa-stack fa-2x close-modal" data-dismiss="modal"><i class="fa fa-times-circle"></i></span>
        <p>Se connecter</p>
      </div>
      <div class="modal-body">
          <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
          <form name="form" class="form css-form" ng-submit="form.$valid && loginUser()" novalidate>
            <div class="form-group">
              <input type="email" placeholder="Email *" class="form-control" name="username" ng-model="loginForm.username" required>
              <div ng-show="form.$submitted">
                <div class="form-error" ng-show="form.username.$error.required">Veuillez entrer votre email.</div>
              </div>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Mot de passe *" class="form-control" name="password" ng-model="loginForm.password" required>
                <div ng-show="form.$submitted">
                  <div class="form-error" ng-show="form.password.$error.required">Veuillez entrer votre mot de passe.</div>
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-primary center-block" ng-disabled="disabled">Se connecter</button>
              </div>
          </form>          
      </div>
      <div class="modal-footer">
        <p>Pas encore inscrit ? <a data-toggle="modal" data-dismiss="modal" data-target="#registerModal" href="#">Je m'inscris</a></p>
      </div>
    </div>

  </div>
</div>

<!-- register modal -->

<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div ng-controller="registerController" class="modal-content">
      <div class="modal-header">
        <span class="fa-stack fa-2x close-modal" data-dismiss="modal"><i class="fa fa-times-circle"></i></span>
        <p>S'inscrire</p>
      </div>
      <div class="modal-body">
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form name="form" class="form css-form" ng-submit="form.$valid && registerUser()" novalidate>
          
          <div class="form-group">
            <input type="text" placeholder="Prénom *" class="form-control" name="name" ng-model="registerForm.name" required>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.name.$error.required">Veuillez entrer votre prénom.</div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" placeholder="Nom *" class="form-control" name="surname" ng-model="registerForm.surname" required>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.surname.$error.required">Veuillez entrer votre nom.</div>
            </div>
          </div>

          <div class="form-group">
            <input type="email" placeholder="Email *" class="form-control" name="username" ng-model="registerForm.username" required>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.username.$error.required">Veuillez entrer votre email.</div>
              <div class="form-error" ng-show="form.username.$error.email">Cet email n'est pas valide.</div>
            </div>
          </div>

          <div class="form-group">
              <input type="password" placeholder="Mot de passe *" class="form-control" name="password" ng-model="registerForm.password" required>
              <div ng-show="form.$submitted">
                <div class="form-error" ng-show="form.password.$error.required">Veuillez entrer votre mot de passe.</div>
              </div>
            </div>

            <div>
              <button type="submit" class="btn btn-primary" ng-disabled="disabled">S'inscrire</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <p>Déjà inscrit ? <a data-toggle="modal" data-dismiss="modal" data-target="#loginModal" href="#">Je me connecte</a></p>
      </div>
    </div>

  </div>
</div>