// Custom Navigation Bar

.navbar-custom {
    background-color: $gray-darker;
    border-color: transparent;
    .navbar-brand {
        color: $theme-primary;
        @include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-primary, 10%);
        }    
    }
    .logo {
        float:left;
        height: 30px;
        margin:10px 0px 10px 15px;
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include heading-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                &:hover,
                &:focus {
                    color: $theme-primary;
                    outline: none;
                }
            }
        }
        li.myAccount {
            &:hover,
            &:focus {
                    background-color: $gray-darker;
                    color: $theme-primary;
                    outline: none;
                }
            a {
                text-transform: none;
            }
        }
        li.myAccount.open {
                a.menu {
                    background-color: $theme-primary;
                    color: white;
                    border-radius: 3px;
                    i {
                        color: white;
                    }
                    &:hover,
                    &:focus {
                        background-color: $theme-primary;
                        color: white;
                        border-radius: 3px;
                        i {
                            color: white;
                        }
                    }
                }
                ul.dropdown-menu {
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    margin-top: 2px;
                    a {
                        color: black;
                        /*&:hover,
                        &:focus {
                            background-color: $theme-primary;
                       )*/ 
                    }
                }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $theme-primary;
        i {
            color: white;
        }
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($theme-primary, 10%);
    }
    .menu {
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }
}

// Login & Register modals

#loginModal, #registerModal, #inviteFriendModal {

    .modal-dialog {
        width:30%;
        top:20%;
        outline: none;
        .modal-content {
            border-radius: 3px;
            background-clip: border-box;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
        }
    }

    .modal-body {
        padding: 30px 30px;
        .btn {
            width: 100%;
            height:40px;
            border-radius: 3px;
            font-size: 14px;
            padding: 6px 12px;
        }
        input {
            height: 40px;
            line-height: 40px;
            border-radius: 3px;
        }
        .form-error {
            color: $theme-danger; 
            font-size: 0.9em;
            margin-left:2px;
            padding-top:3px;
        }

    }

    .modal-header {
        text-align: center;
        p {
            margin-bottom:0px;
        }
        .close-modal {
            position: absolute;
            top: -1px;
            right: 15px;
            cursor: pointer;
            .fa-times-circle {
                color: $gray-darker;
                outline: none;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                &:hover,
                &:focus,
                &:active {
                    color: $theme-primary;
                }         
            }            
        }
    }
    .modal-footer {
        text-align: left;
        p {
            margin-bottom:0px;
            padding-left:15px;
        }
    }
}

// Media queries

@media(max-width:576px) {
    #loginModal, #registerModal, #inviteFriendModal {
        .modal-dialog {
            width:auto;
        }
    }
}

@media(min-width:576px) {
    #loginModal, #registerModal, #inviteFriendModal {
        .modal-dialog {
            width:auto;
        }
    }
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 1.4em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .logo {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            height: 40px;
            margin:5px 0px 5px 15px;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
        .navbar-nav>li>a {
            font-size: 0.8em;
        }
    }
    .navbar-custom.affix {
        background-color: $gray-darker;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
        .logo {
            height: 30px;
            margin:10px 0px 10px 15px;
        }
    }
    #loginModal, #registerModal, #inviteFriendModal {
        .modal-dialog {
            width:45%;
        }
    }
}

@media(min-width:992px) {
    .navbar-custom {
        .navbar-brand {
            font-size: 1.8em;
        }
        .logo {
            height: 44px;
            margin:3px 0px 3px 15px;
        }
        .navbar-nav>li>a {
            font-size: 0.9em;
        }
    }
    #loginModal, #registerModal, #inviteFriendModal {
        .modal-dialog {
            width:35%;
        }
    }
}

@media(min-width:1200px) {
    .navbar-custom {
        .navbar-brand {
            font-size: 2em;
        }
        .logo {
            height: 50px;
            margin:0px 0px 0px 15px;
        }
        .navbar-nav>li>a {
            font-size: 1em;
        }
    }
    #loginModal, #registerModal, #inviteFriendModal {
        .modal-dialog {
            width:30%;
        }
    }
}

// Header size

@media(min-width:768px) {

}


