<section class="pageSection">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 text-center">
	        	</br>
	            <h2 class="section-heading">5 étapes pour trouver votre futur nid douillet</h2>
	            <h3 class="section-subheading text-muted">Parce qu'une recherche de logement devrait être ludique et simple !</h3>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-12">
	            <ul class="timeline">
	                <li>
	                    <div class="timeline-image">
	                        <img class="img-circle img-responsive" src="assets/img/about/number1.jpg" alt="Rechercher un logement">
	                    </div>
	                    <div class="timeline-panel">
	                        <div class="timeline-heading">
	                            <h4 class="subheading">Des critères sur mesure</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Commencez par créer une recherche d'achat ou de location avec tous les critères dont vous rêvez pour votre futur logement : type de bien, localisation, surface, budget, nombre de pièces, nombre de chambres et autres filtres avancés</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number2.jpg" alt="Recevoir des alertes email">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Vos alertes email en avant-première</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Recevez un email personnalisé avec toutes les informations et photos du bien dès qu'une annonce matche vos critères chez un de nos partenaires. Si votre recherche s'effectue à plusieurs, toutes les personnes associées recevront l'email d'alerte</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number3.jpg" alt="Aimer des annonces de logement">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">On like ? Ou pas...</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Likez l'annonce si ce bien est un coup de coeur à l'aide du bouton présent au sein de l'alerte email personnalisée. Il suffit qu'une seule personne associée à cette recherche like l'annonce pour qu'elle apparaisse dans votre espace personnel</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number4.jpg" alt="Visualiser les annonces de logement">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Vos coups de coeur en un coup d'oeil</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Retrouvez toutes les annonces likées - au sein de votre espace connecté - et mettez à jour leur statut respectif : ajouté aux favoris, informations demandée, visite demandée, offre envoyée, offre acceptée et d'autres messages personnalisés</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number5.jpg" alt="Organiser sa recherche de logement">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">On organise et on trouve ! </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Gérez votre espace personnel à votre guise : mettez en pause une recherche, créez-en une autre avec de nouveaux critères, triez vos annonces "coups de coeur", changez les statuts des annonces, associez de nouvelles personnes à votre recherche</p>
                            </div>
	                    </div>
	                </li>
	                <li class="timeline-inverted">
	                    <div class="timeline-image">
	                        <h4>Bonne
	                            <br>Chance !
	                        </h4>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	</div>
</section>