<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contactez-nous</h2>
                <h3 class="section-subheading text-muted">Promis, nous vous répondrons.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="form" id="contactForm" class="form css-form" ng-submit="form.$valid && sendEmail()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Votre nom *" name="name" required ng-model="contactForm.name" data-validation-required-message="Veuillez entrez votre nom.">
                                
                                <div ng-show="form.$submitted">
                                    <p class="help-block text-danger" ng-show="form.email.$error.required">Veuillez entrer votre nom.</p>
                                </div>

                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Votre email *" name="email" required ng-model="contactForm.email" data-validation-required-message="Veuillez entrer votre email.">
                                
                                <div ng-show="form.$submitted">
                                    <p class="help-block text-danger" ng-show="form.email.$error.required">Veuillez entrer votre email.</p>
                                    <p class="help-block text-danger" ng-show="form.email.$error.email">Cet email n'est pas valide.</p>
                                </div>

                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Votre numéro de téléphone" id="phone" ng-model="contactForm.phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Votre message *" name="message" required ng-model="contactForm.message" data-validation-required-message="Veuillez entrer votre message."></textarea>
                                
                                <div ng-show="form.$submitted">
                                    <p class="help-block text-danger" ng-show="form.email.$error.required">Veuillez entrer votre message.</p>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl" ng-disabled="disabled" ng-attr-data-toggle="{{ form.$valid ? 'modal' : 'notToggle' }}" data-target="#contactModal" >Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Contact form modal -->

<div id="contactModal" class="genericModal modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <span class="fa-stack fa-2x close-modal" data-dismiss="modal"><i class="fa fa-times-circle"></i></span>
        <p>Merci.</p>
      </div>
      <div class="modal-body">
        <p>Votre message a bien été envoyé.</p>

        <div>
            <button class="btn btn-primary" data-dismiss="modal">Continuer</button>
        </div>

      </div>
    </div>

  </div>
</div>