<header id="home">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenue sur Cozy Home !</div>
            <div class="intro-heading">Que la quête commence</div>
            <a href="#services" class="page-scroll btn btn-xl">En savoir plus</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Votre agent immobilier sur mesure</h2>
                <h3 class="section-subheading text-muted">Trouver un logement est un vrai parcours du combattant, Cozy Home vous aide à chaque étape</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Critères avancés</h4>
                <p class="text-muted">Parce qu'il n'y a pas que le prix et la taille qui comptent, profitez de critères de recherche spécifiques pour trouver votre nouveau nid douillet</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Alertes personnalisées</h4>
                <p class="text-muted">Recevez en avant-première toutes les annonces fraîchement parues chez nos partenaires et matchant vos critères, dans un email de synthèse</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Centralisation & Collaboration</h4>
                <p class="text-muted">Faites le point sur votre recherche et visualisez vos "coups de coeur" à tout moment et à plusieurs, grâce à une interface ludique et collaborative</p>
            </div>
        </div>

        <div class="row">
                <div ng-controller = 'headerController' ng-show = '!user.username' class="col-lg-8 col-lg-offset-2 text-center">
                        </br></br>
                        <a class="btn btn-xl" data-toggle="modal" data-target="#registerModal" href="#">Je m'inscris !</a>
                </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">5 étapes pour trouver votre futur nid douillet</h2>
                <h3 class="section-subheading text-muted">Parce qu'une recherche de logement devrait être ludique et simple !</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number1.jpg" alt="Rechercher un logement">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Des critères sur mesure</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Commencez par créer une recherche d'achat ou de location avec tous les critères dont vous rêvez pour votre futur logement : type de bien, localisation, surface, budget, nombre de pièces, nombre de chambres et autres filtres avancés</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number2.jpg" alt="Recevoir des alertes email">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Vos alertes email en avant-première</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Recevez un email personnalisé avec toutes les informations et photos du bien dès qu'une annonce matche vos critères chez un de nos partenaires. Si votre recherche s'effectue à plusieurs, toutes les personnes associées recevront l'email d'alerte</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number3.jpg" alt="Aimer des annonces de logement">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">On like ? Ou pas...</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Likez l'annonce si ce bien est un coup de coeur à l'aide du bouton présent au sein de l'alerte email personnalisée. Il suffit qu'une seule personne associée à cette recherche like l'annonce pour qu'elle apparaisse dans votre espace personnel</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number4.jpg" alt="Visualiser les annonces de logement">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Vos coups de coeur en un coup d'oeil</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Retrouvez toutes les annonces likées - au sein de votre espace connecté - et mettez à jour leur statut respectif : ajouté aux favoris, informations demandée, visite demandée, offre envoyée, offre acceptée et d'autres messages personnalisés</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/img/about/number5.jpg" alt="Organiser sa recherche de logement">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">On organise et on trouve ! </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Gérez votre espace personnel à votre guise : mettez en pause une recherche, créez-en une autre avec de nouveaux critères, triez vos annonces "coups de coeur", changez les statuts des annonces, associez de nouvelles personnes à votre recherche</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Bonne
                                <br>Chance !
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Une équipe d'experts à votre service</h2>
                <h3 class="section-subheading text-muted">Parce que nous aussi, nous avons bataillé pour trouver notre bonheur, vous avez bien le droit de profiter de notre expérience !</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="assets/img/team/1.jpg" class="img-responsive img-circle" alt="Gwenn Charlot co-fondatrice">
                    <h4>Gwenn Charlot</h4>
                    <p class="section-subheading text-muted">Design & Marketing</p>
                    <div class="row">
                        <p class="text-muted col-sm-8 col-sm-offset-2">Passionnée de basket et de fromages, cette bretonne est une touche-à-tout en matière de digital. Elle souhaite vous offrir la meilleure expérience concernant votre recherche de logement.</p>
                    </div>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/GwennCharlot" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/gwennc" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://fr.linkedin.com/in/gwenn-charlot-a41b6934" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="assets/img/team/2.jpg" class="img-responsive img-circle" alt="Robin Bonduelle co-fondateur">
                    <h4>Robin Bonduelle</h4>
                    <p class="section-subheading text-muted">Développement</p>
                    <div class="row">
                        <p class="text-muted col-sm-8 col-sm-offset-2">Sur son vélo de course ou avec un roman à la main, ce toulousain s'émerveille devant la magie du code. Il vous permet de trouver votre futur logement en 3 clics grâce à Cozy Home.</p>
                    </div>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/robin.bonduelle" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://fr.linkedin.com/in/robin-bonduelle-6812a626" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contactez-nous</h2>
                <h3 class="section-subheading text-muted">Promis, nous vous répondrons.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="form" id="contactForm" class="form css-form" ng-submit="form.$valid && sendEmail()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Votre nom *" name="name" required ng-model="contactForm.name" data-validation-required-message="Veuillez entrez votre nom.">
                                
                                <div ng-show="form.$submitted">
                                    <p class="help-block text-danger" ng-show="form.email.$error.required">Veuillez entrer votre nom.</p>
                                </div>

                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Votre email *" name="email" required ng-model="contactForm.email" data-validation-required-message="Veuillez entrer votre email.">
                                
                                <div ng-show="form.$submitted">
                                    <p class="help-block text-danger" ng-show="form.email.$error.required">Veuillez entrer votre email.</p>
                                    <p class="help-block text-danger" ng-show="form.email.$error.email">Cet email n'est pas valide.</p>
                                </div>

                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Votre numéro de téléphone" id="phone" ng-model="contactForm.phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Votre message *" name="message" required ng-model="contactForm.message" data-validation-required-message="Veuillez entrer votre message."></textarea>
                                
                                <div ng-show="form.$submitted">
                                    <p class="help-block text-danger" ng-show="form.email.$error.required">Veuillez entrer votre message.</p>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl" ng-disabled="disabled" ng-attr-data-toggle="{{ form.$valid ? 'modal' : 'notToggle' }}" data-target="#contactModal" >Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Contact form modal -->

<div id="contactModal" class="genericModal modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <span class="fa-stack fa-2x close-modal" data-dismiss="modal"><i class="fa fa-times-circle"></i></span>
        <p>Merci.</p>
      </div>
      <div class="modal-body">
        <p>Votre message a bien été envoyé.</p>

        <div>
            <button class="btn btn-primary" data-dismiss="modal">Continuer</button>
        </div>

      </div>
    </div>

  </div>
</div>