<header class="landing">
    <div class="container">
        <div class="intro-text">
            <h2 class="section-heading">Votre email a été validé</h2>
            </br>
            <h4>Vous pouvez maintenant vous connecter à votre espace personnel</h4>
        </div>
    </div>
</header>