<header class="landing">
    <div class="container">
        <div class="intro-text">
            <h4 class="section-heading">Veuillez entrer vos informations.</h4>
            </br>

            <div class="row">
            	<div ng-controller="userUpdateController" class="col-md-6 col-md-offset-3">
			        <form name="form" class="form css-form" ng-submit="form.$valid && confirmInvite()" novalidate>

			          <div class="row searchFieldForm">
			            <div class="col-md-6 col-md-offset-3">
			              <input class="form-control" placeholder="Prénom *" type="text" name="name" ng-model="userData.name" required/>
			            </div>
			            <div ng-show="form.$submitted">
			              <div class="form-error" ng-show="form.name.$error.required">Veuillez indiquer votre nom.</div>
			            </div>
			          </div>

			          <div class="row searchFieldForm">
			            <div class="col-md-6 col-md-offset-3">
			              <input class="form-control" placeholder="Nom *" type="text" name="surname" ng-model="userData.surname" required/>
			            </div>
			            <div ng-show="form.$submitted">
			              <div class="form-error" ng-show="form.surname.$error.required">Veuillez indiquer votre nom de famille.</div>
			            </div>
			          </div>
			        
			          <div class="row searchFieldForm">
			            <div class="col-md-6 col-md-offset-3">
			              <input class="form-control" placeholder="Mot de passe *" type="password" name="password" ng-model="userData.password" required/>
			            </div>
			            <div ng-show="form.$submitted">
			              <div class="form-error" ng-show="form.password.$error.required">Veuillez indiquer votre mot de passe.</div>
			            </div>
			          </div>

			          <div>
			            <button type="submit" class="btn btn-primary">Terminer l'inscription</button>
			          </div>
			        </form>
			    </div>
	        <div>

        </div>
    </div>
</header>