<header class="landing">
    <div class="container">
        <div class="intro-text">
            <h2 class="section-heading">L'annonce a été ajoutée à vos favoris</h2>
            </br>
            <h4>Vous pouvez la consulter dans la rubrique "Mes annonces".</h4>
        </div>
    </div>
</header>