<header class="landing">
    <div class="container">
        <div class="intro-text">
            <h2 class="section-heading">La recherche a bien été mise en pause</h2>
            </br>
            <h4>Vous pourrez l'activer à tout moment</h4>
        </div>
    </div>
</header>