<header class="landing">
    <div class="container">
        <div class="intro-text">
            <h4 class="section-heading">Veuillez entrer votre nouveau mot de passe</h4>
            </br>

            <div class="row">
            	<div ng-controller="userUpdateController" class="col-md-6 col-md-offset-3">
			        <form name="form" class="form css-form" ng-submit="form.$valid && resetPassword()" novalidate>
			        
			          <div class="row searchFieldForm">
			            <div class="col-md-6 col-md-offset-3">
			              <input class="form-control" type="password" name="password" ng-model="userData.password" required/>
			            </div>
			            <div ng-show="form.$submitted">
			              <div class="form-error" ng-show="form.name.$error.required">Veuillez indiquer votre nouveau mot de passe.</div>
			            </div>
			          </div>

			          <div>
			            <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
			          </div>
			        </form>
			    </div>
	        <div>

        </div>
    </div>
</header>