// Global Components

body {
    overflow-x: hidden;
    @include body-font;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.offsetbody {
    margin-top:50px;
}

.text-muted {
    color: $gray-light;
}

.text-primary {
    color: $theme-primary;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

h4 > a {
    color: $gray-dark;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px 12px;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 19px;
    padding: 20px 40px;
}

// Global Section Styles

section {
    padding: 60px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

section.pageSection {
        background-color: $gray-lighter;
        min-height: calc(100vh - 220px);
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

// modals

.genericModal {

    .modal-dialog {
        width:auto;
        top:20%;
        outline: none;
        .modal-content {
            border-radius: 3px;
            background-clip: border-box;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
        }
    }

    .modal-header {

        .close-modal {
            position: absolute;
            top: -2px;
            right: -12px;
            cursor: pointer;
            .fa-times-circle {
                color: $gray-darker;
                outline: none;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                &:hover,
                &:focus,
                &:active {
                    color: $theme-primary;
                }         
            }            
        }
    }

    .modal-body {
        padding-top: 20px;
        padding-bottom: 68px;
        button {
            position: absolute;
            right: 20px;
        }
    }

}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}

// Tables

table {
    background-color: white;
    border-radius: 3px;
}

.table {
    thead>tr>th {
        border-bottom: 1px solid $gray-lighter;
        line-height: 4em;
        padding-left: 20px;
    }
    tbody>tr>td {
        vertical-align: middle;
        border-top: none;
        line-height: 3em;
        padding-left: 20px;
    }
    .fa-ellipsis-v {
        padding-left:30px;
    }
    .fa-stack:hover{
        .fa-ellipsis-v {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            cursor: pointer;
            color: $theme-primary;
        }
    }
    .dropdown.open {
       .fa-ellipsis-v { 
            color: $theme-primary;
        }
    }
    .dropdown-menu {
        top: 80%;
        left: -70%; 
        margin-left: -60px;
        border-radius: 3px;
        border: 1px solid $gray-lighter;
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
        /*:before{
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #6b6464;
            left: 129px;
            top: -12px;
        }*/
    }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: $gray-superlight;
}

// Dropdown menus

.dropdown-menu > li > a {
    &:hover,
    &:focus,
    &:active {
            cursor: pointer;
            background-color: $gray-lighter;
            background-image: none;
        }
}

.dropdown {
    a {
        color: #333;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }
}

// Forms

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: $gray-lighter;
  box-shadow: 0 1px 1px $theme-primary inset, 0 0 4px $theme-primary;
  outline: 0 none;
  border-radius: 3px;
}

/*ng-tags-input specific design*/
tags-input .tags.focused {
    border-color: $gray-lighter;
    box-shadow: 0 1px 1px $theme-primary inset, 0 0 4px $theme-primary;
    outline: 0 none;
    border-radius: 3px;
}

input.input:focus {
    border-color: $gray-lighter;
    box-shadow: none;
    outline: 0 none;
    border-radius: 3px;
}

// Notifications

.growl-container.growl-fixed.top-right {
    top: 85px;
    .growl-item {
        border-radius: 3px;
        padding: 20px 35px 20px 20px;
    }
    .growl-item.alert-success {
        background-color: $green;
        border-color: $dark-green;
        color: $darker-green;
    }
}

// Spinner

.spinnerContainer {
    min-height: calc(100vh - 235px);
    display: flex;
    align-items: center;
    justify-content: center;
}

// Media queries

@media(max-width:576px) {
    section.pageSection {
        padding-top: 25px;
        h2.section-heading {
            font-size: 22px;
        }
        h3.section-subheading {
            font-size: 14px;
            margin-bottom: 50px;
        }
    }
    .genericModal {
        .modal-dialog {
            width:70%;
        }
    }
}

@media(min-width:576px) {
    section.pageSection {
        padding-top: 25px;
        h2.section-heading {
            font-size: 26px;
        }
        h3.section-subheading {
            font-size: 14px;
            margin-bottom: 60px;
        }
    }
    .genericModal {
        .modal-dialog {
            width:70%;
        }
    }
}

@media(min-width:768px) {
    section.pageSection {
        padding-top: 35px;
        min-height: calc(100vh - 220px);
    }
    section {
        h2.section-heading {
            font-size: 30px;
        }
        h3.section-subheading {
            font-size: 14px;
            margin-bottom: 70px;
        }
    }
    .genericModal {
        .modal-dialog {
            width:60%;
        }
    }
}

@media(min-width:992px) {
    section.pageSection {
        padding-top: 35px;
        min-height: calc(100vh - 180px);
    }
    section.pageSection {
        min-height: calc(100vh - 220px);
    }
    section {
        h2.section-heading {
            font-size: 35px;
        }
        h3.section-subheading {
            font-size: 16px;
            margin-bottom: 75px;
        }
    }
    .genericModal {
        .modal-dialog {
           width:50%;
        }
    }
}

@media(min-width:1200px) {
    section.pageSection {
        min-height: calc(100vh - 140px);
    }
    section {
        h2.section-heading {
            font-size: 40px;
        }
        h3.section-subheading {
            font-size: 16px;
            margin-bottom: 75px;
        }
    }
    .genericModal {
        .modal-dialog {
            width:40%;
        }
    }
}
