$theme-primary:    #fed136;
$theme-danger:     #e74c3c;

//Gray
$gray-base:			#000 !default;
$gray-darker:		lighten($gray-base, 13.5%) !default; // #222
$gray-dark:			lighten($gray-base, 20%) !default;   // #333
$gray:				lighten($gray-base, 33.5%) !default; // #555
$gray-light:		lighten($gray-base, 46.7%) !default; // #777
$gray-midlight:		lighten($gray-base, 70%) !default; // #b3b3b3
$gray-lighter:		lighten($gray-base, 93.5%) !default; // #eee
$gray-superlight:	lighten($gray-base, 98.5%) !default; // #f5f5f5


//Red
$dark-red: #EE3F50;
$red: #ED6B78;
$light-red: #F2AAB1;

//Orange
$dark-orange: #EE9E3F;
$orange: #EDB26B;
$light-orange: #F2D2AA;

//Yellow
$dark-yellow: #EEE43F;
$yellow: #EDE76B;
$light-yellow: #F2EFAA;

//Green
$darker-green: #2b691c;
$dark-green: #4FBE32;
$green: #6BBF56;
$light-green: #AEE6A1;

//Jade (Blue-Turquoise)
$dark-jade: #32BEAB;
$jade: #56BFB1;
$light-jade: #AAF2E9;

//Blue
$dark-blue: #327ABE;
$blue: #568CBF;
$light-blue: #AACFF2;

//Purple
$dark-purple: #7B32BE;
$purple: #8C56BF;
$light-purple: #CFAAF2;

//Pink
$dark-pink: #CB36A9;
$pink: #CC5CB2;
$light-pink: #F2AAE1;