// Portfolio Section

#portfolio {
    .portfolio-item {
        margin: 0 0;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            img {
                width:100%;
                -moz-border-radius: 0px;
                -webkit-border-radius: 3px 3px 0px 0px;
                border-radius: 3px 3px 0px 0px;
            }
            .portfolio-hover {
                background: $theme-primary;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                -moz-border-radius: 0px;
                -webkit-border-radius: 3px 3px 0px 0px;
                border-radius: 3px 3px 0px 0px;
                &:hover {
                    opacity: 0.9;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            } 
            .img-responsive {
                height:100%;
            }     
        }
        .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: left;
            padding: 25px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px 0px 3px 3px;
            border-radius: 0px 0px 3px 3px;
            h4 {
                text-transform: none;
                margin: 0px;
                font-size: 14px;
                font-weight: 200;
            }
            h4:first-child {
                margin-bottom: 10px;
            }
            
           .fa-stack:hover{
                .fa-ellipsis-v {
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                    cursor: pointer;
                    color: $theme-primary;
                }
            }
            .dropdown.open {
                .fa-ellipsis-v { 
                    color: $theme-primary;
                }
            }
            .dropdown {
                float:right;
                position: relative;
                top:-48px;
                left:25px;
                text-align: center;

                /*i {
                    border-radius: 100px;
                    padding: 5px 16px;
                    border: 2px solid $gray-darker;
                }*/
            }
            .dropdown-menu {
                top: 80%;
                left: -70%; 
                margin-left: -60px;
                border-radius: 3px;
                border: 1px solid $gray-lighter;
                &:hover,
                &:focus,
                &:active {
                    cursor: pointer;
                }
            }
        }
    }
}

.appartTitleRow {
    h4 {
        text-align: center;
        padding-bottom: 20px;
    }
}

.filterMenu {
    background-color: white;
    padding: 0px 25px 1px 25px;
    border-radius: 3px;
    .filterTitle {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $gray;
        font-weight: bold;
        line-height: 2;
    }
    .filterTitle:first-child {
        border-top: none;
        margin-top: 0px;
    }

    .list-group-item {
        cursor: pointer;
        position: relative;
        display: block;
        padding: 8px 0px 8px 8px;
        margin-left: 20px;
        background-color: white;
        border: none;
        color: $gray;
        font-weight: normal;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            bottom: 12px;
            left: -20px;
            width: 12px;
            height: 12px;
            border: 1px solid $gray-midlight;
            border-radius: 100%;
            transition: background-color .2s;
        }
        .badge {
            background-color: white;
            color: $gray-midlight;
            font-weight: normal;
            padding-right:0px;
            font-weight: 300;
        }
        &:hover {
            .badge {
                background-color: white;
            }
        }
    }
    .list-group-item.active {
        color: $gray-dark;
        background-color: white;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 15px;
            bottom: 15px;
            left: -17px;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $green;
            transition: background-color .2s;
        }
        .badge {
            background-color: white;
        }
    }

    .rzslider {
        .rz-selection {
            background-color: $theme-primary;
        }
        .rz-pointer {
            background-color: $theme-primary;
            top: -8px;
            width: 16px;
            height: 16px;
            &:hover {
                background: darken($theme-primary, 10%);
            }
        }
        .rz-pointer:after {
            top: 3px;
            left: 3px;
            width: 10px;
            height: 10px;
            border-radius: 6px;
            background: white;
        } 
        .rz-bar {
            height: 2px;
        }
        span.rz-bubble {
            color: $gray;
            font-weight: 300;
        }
        .rz-bubble.rz-limit {
            color: $gray-midlight;
            font-weight: 300;
        }
    }

    .clearFilters {
        padding-bottom: 20px;
    }
}

.sortMenu {
    float:right;
    margin-top:10px;
}

.mainCol {
    padding: 0px;
}


.backLink {
    margin-bottom: 26px;
}

#portfolio #appartContainer {
    background-color: #fff;
    border-radius: 3px;
    padding: 13px 13px;
    h4 {
        padding: 13px;
        margin: 0px;
    }
    p {
       padding: 13px; 
       margin: 0px;
    }
    .row {
            margin: 0px;
    }
    .fa-stack:hover{
        .fa-ellipsis-v {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            cursor: pointer;
            color: $theme-primary;
        }
    }
    .dropdown.open {
        .fa-ellipsis-v { 
            color: $theme-primary;
        }
    }
    .dropdown {
        float:right;
        position: relative;
        top:-48px;
        left:15px;
        text-align: center;
    }
    .dropdown-menu {
        top: 80%;
        left: -300%; 
        border-radius: 3px;
        border: 1px solid $gray-lighter;
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }
    .label-default {
        background-color: $theme-primary;
        border-radius: 3px;
        font-weight: 100;
        margin-top:13px;
        position: relative;
        top: -1px;
    }
    .portfolio-item {
        padding: 13px;
        img {
                -moz-border-radius: 0px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
            }
        .portfolio-link {
            .portfolio-hover {
                -moz-border-radius: 0px;
                -webkit-border-radius: 3px;
                border-radius: 3px;    
            }
        }
    
    }
}

#sideContainer {
    padding-left: 26px;
    table {
        td {
            border-radius: 3px;
            span {
                font-weight: bold;
                font-size: 1.1em;
            }
        }
    }
}

#picture-modal {

    .modal-dialog {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        outline: none;
        .modal-content {
            border-radius: 3px;
            background-clip: border-box;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
        }
    }
    .modal-dialog.stdPicture {
        width:500px;
    }
    .modal-dialog.bigPicture {
        width:600px;
    }
    .modal-content {
        .modal-body {
            .img-responsive {
                width:100%;
                heigth:auto;
                max-height: 600px;
            }  
            .rightCarousel {
                position: absolute;
                top:50%;
                transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                right:-50px;
                opacity: 0.3;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 0.9;
                }
            }
            .leftCarousel {
                position: absolute;
                top:50%;
                transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                left:25px;
                opacity: 0.3;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

// Media queries

@media(max-width:576px) {

    #portfolio {
        .appartTitleRow h4 {
            display: none;
        }
        .filterMenu {
            margin: 30px 0px;
        }
        .portfolio-item {
            margin: 31px 0px;
            .portfolio-caption {
                .dropdown-menu {
                    left: -300%; 
                    margin-left: 0px;
                }
            }
        }
        .portfolio-link {
            height: 250px;
        }
    }

    .backLink {
        margin-left: 15px;
    }
    /*#appartContainer {
        .label-default {
            margin-left: 0px;
        }
    }*/
    #portfolio #appartContainer {
        margin: 0px;
        .portfolio-item {
            margin: 0px;
        }
    }
    #sideContainer {
        padding: 0px;
        margin-top: 26px;
    }
    
}

@media(min-width:576px) {
    
    #portfolio {
        .appartTitleRow h4 {
            display: none;
        }
        .filterMenu {
            margin: 30px 0px;
        }
        .portfolio-item {
            margin: 31px 0px;
            .portfolio-caption {
                .dropdown-menu {
                    left: -300%; 
                    margin-left: 0px;
                }
            }
        }
        .portfolio-link {
            height: 280px;
        }
    }


    .backLink {
        margin-left: 15px;
    }

    #portfolio #appartContainer {
        margin: 0px;
        .portfolio-item {
            margin: 0px;
        }
        .portfolio-link {
            height: 280px;
        }
    }
    #sideContainer {
        padding: 0px;
        margin-top: 26px;
    }
    
}

@media(min-width:768px) {

    #portfolio {
        .appartTitleRow h4 {
            display: none;
        }
        .filterMenu {
            margin: 30px 0px;
        }
        .portfolio-item {
            margin: 0px 0px;
            .portfolio-caption {
                .dropdown-menu {
                    left: -300%; 
                    margin-left: 0px;
                }
            }
        }
        .portfolio-link {
            height: 250;
        }
    }


    .backLink {
        margin-top: 10px;
    }

    #sideContainer {
        padding: 0px;
        margin-top: 0px;
    }
    
}

@media(min-width:992px) {
    #portfolio {
        .appartTitleRow h4 {
            display: block;
        }
        .filterMenu {
            margin: 0px 0px;
        }
        .portfolio-item {
            margin: 0px 0px;
            .portfolio-caption {
                .dropdown-menu {
                    left: -300%; 
                    margin-left: 0px;
                }
            }
        }
        .portfolio-link {
            height: 240px;
        }
    }

    #portfolio #appartContainer {
        .label-default {
            margin-left: 26px;
        }
        .portfolio-link {
            height: 220px;
        }
    }
}

@media(min-width:1200px) {

    #portfolio #appartContainer {
        .portfolio-link {
            height: 200px;
        }
    }
}