.landing {
    min-height: calc(100vh - 90px);
    background-color: $gray-lighter;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}