// Search forms

.searchFieldForm {
    margin-bottom: 20px;

    label {
        height: 32px;
        line-height: 32px;  
    }

    .form-error {
        color: $theme-danger;
        top: -5%;
        font-size: 0.9em;
        height: 32px;
        line-height: 32px;
    }
}

.searchsList {
    margin-top: 10px;
}


#searchContainer {
    background-color: #fff;
    border-radius: 2px;
    padding: 13px;
    h4 {
        padding: 13px;
        /*margin: 0px;*/
        margin: 0px;
        display: inline-block;
    }
    p {
       padding: 13px; 
       margin: 0px;
    }
    .label-default {
        background-color: $theme-primary;
        border-radius: 2px;
        font-weight: 100;
        margin-left: 26px;
        margin-top:13px;
        position: relative;
        top: -1px;
        display: inline-block;
    }
    .fa-stack:hover{
        .fa-ellipsis-v {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            cursor: pointer;
            color: $theme-primary;
        }
    }
    .dropdown.open {
        .fa-ellipsis-v { 
            color: $theme-primary;
        }
    }
    .dropdown {
        display: inline-block;
        text-align: center;
        /*i {
            border-radius: 100px;
            padding: 5px 16px;
            border: 2px solid $gray-darker;
        }*/
    }
    .dropdown-menu {
        border-radius: 3px;
        border: 1px solid $gray-lighter;
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }
    .row {
        margin: 13px 0px;
    }
    table {
        margin: 13px 0px;
        .label {
            margin-right: 13px;
            margin-left: 0px;
            font-size: 90%;
        }
        td {
            border-radius: 3px;
            span {
                font-weight: bold;
                font-size: 1.1em;
            }
        }
    }

    .label-info {
        margin-right: 13px;
        margin-left: 0px;
        font-size: 90%;
        font-weight: normal;
        background-color: $gray-midlight;
        font-weight: 100;
        display: inline-block;

    }
}

// Media queries

@media(max-width:576px) {
    .cta {
        text-align:center;
    }
}

@media(min-width:576px) {
    .cta {
        text-align:right;
        margin-right: 20px;
    }
}

@media (min-width: 768px) {
    .cta {
        margin-right: 0px;
    }
}

@media(max-width:992px) {
        #searchContainer {
        .label-default {
            margin-left: 0px;
        }
    }
}