#userContainer {    
    background-color: #fff;
    border-radius: 3px;
    padding: 13px 13px;
    h4 {
        padding: 13px;
        margin: 0px;
    }
    p {
       padding: 13px; 
       margin: 0px;
    }
    .row {
        margin: 0px;
    }
}