<section class="pageSection">
    <div class="container">

		<div class="row text-center spinnerContainer" ng-show="processing">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fa fa-spinner fa-spin fa-stack-1x text-primary"></i>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 timeline-heading row text-center" ng-show="searchs == ''" >
                </br>
                </br>
                <h4 class="subheading">Vous n'avez pas encore créé de recherche !</br></br>Choisissez les critères de vos rêves</h4>
                </br>
                </br>
                <div class="col-md-6 col-md-offset-3">
                    <a href="/searchs/new" class="btn btn-primary">Nouvelle recherche</a>
                </div>
            </div>

            <table class="searchsList table table-hover" ng-show="searchs && searchs != ''">
				<thead>
					<tr>
						<th>Nom</th>
						<th class="hidden-xs hidden-sm">Surface</th>
						<th class="hidden-xs hidden-sm">Budget</th>
						<th class="hidden-xs">Résultats</th>
						<th class="col-sm-2 col-xs-3">Statut</th>
						<th class="col-sm-1 col-xs-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="search in searchs">
						<td><a ng-href="/searchs/{{ search._id }}">{{ search.name }}</a></td>
						<td class="hidden-xs hidden-sm">{{ search.surfacemin }} m2 - {{ search.surfacemax }} m2</td>
						<td class="hidden-xs hidden-sm">{{ search.pxmin | currency:undefined:0 }} - {{ search.pxmax | currency:undefined:0 }}</td>
						<td class="hidden-xs">{{ search.apparts.length > 0 ? search.apparts.length + " annonces" : "Aucun résultat" }}</td>
						<td>{{ search.status ? "Active" : "En pause" }}</td>
						<td>
							<div class="dropdown">
								<a data-toggle="dropdown" class="fa-stack fa-2x dropdown-toggle"><i class="fa fa-ellipsis-v"></i></a>
								<ul class="dropdown-menu">
						          <li><a href="#" ng-click="toggleStatusSearch(search._id)">{{ search.status ? "Mettre en pause" : "Activer" }}</a></li>
						          <li><a ng-href="/searchs/{{ search._id }}/edit">Modifier</a></li>
                      <li><a href="#" ng-click="deleteSearch(search._id)">Supprimer</a></li>
						        </ul>
					        </div>
						</td>
					          
					</tr>
				</tbody>
			</table>
			<!-- <p class="text-muted">Encore un peu de patience ! Nous vous envoyons les annonces qui correspondent à vos critères par email personnalisé dès qu'elles sont publiées sur nos sites partenaires.</p> -->
        </div> 

        <div class="row" ng-show="searchs && searchs != ''">
        	<div class="cta">
                    <a href="/searchs/new" class="btn btn-primary">Nouvelle recherche</a>
            </div>
        </div>

    </div>
</section>