<section class="pageSection">
  <div class="container">

    <div class="row">
        <div class="backLink">
            <span><i class="fa fa-chevron-left text-primary"></i></span> <a ng-href="/searchs">Retour aux recherches</a>
        </div> 
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="subheading">Sélectionnez vos critères</h4>
        </br></br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form name="form" class="form css-form" ng-submit="form.$valid && saveSearch()" novalidate>
        
          <div class="row searchFieldForm">
            <label class="col-lg-3">Nom de votre recherche</label> 
            <div class="col-lg-3">
              <input class="form-control" type="text" name="name" ng-model="searchData.name" required/>
            </div>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.name.$error.required">Veuillez préciser le nom de votre recherche.</div>
            </div>
          </div>

          <div class="row searchFieldForm">
            <label class="col-lg-3">Vous souhaitez</label>
            <div class="col-lg-4">
              <label class="radio-inline"><input type="radio" ng-model="searchData.idtt" value="2" />Acheter</label>
              <label class="radio-inline"><input type="radio" ng-model="searchData.idtt" value="1" />Louer</label>
            </div>
          </div>

          <div class="row searchFieldForm">
            <label class="col-lg-3">Type de bien</label>
            <div class="col-lg-4">
              <label class="radio-inline"><input type="radio" ng-model="searchData.idtypebien" value="1" />Appartement</label>
              <label class="radio-inline"><input type="radio" ng-model="searchData.idtypebien" value="2" />Maison</label>
              <label class="radio-inline"><input type="radio" ng-model="searchData.idtypebien" value="3" />Loft</label><br />
            </div>
          </div>
        
          <!-- <div class="row searchFieldForm">
            <label class="col-lg-3">Ville</label> 
            <div class="col-lg-3">
              <input class="form-control" type="text" name="city" ng-model="searchData.city" required/>
            </div>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.city.$error.required">Veuillez spécifier la ville dans laquelle vous souhaitez chercher.</div>
            </div>
          </div> -->

          <div class="row searchFieldForm">
            <label class="col-lg-3">Ville</label> 
            <div class="col-lg-4">
              <label class="radio-inline"><input type="radio" ng-model="searchData.city" value="Paris" />Paris</label>
              <label class="radio-inline"><input type="radio" ng-model="searchData.city" value="Lyon" />Lyon</label>
              <label class="radio-inline"><input type="radio" ng-model="searchData.city" value="Bordeaux" />Bordeaux</label><br />
            </div>
          </div>

          <div ng-show="searchData.city == 'Paris'" class="row searchFieldForm">
            <label class="col-lg-3">Arrondissement</label> 
            <div class="col-lg-3">
              <ui-select multiple ng-model="arr.selected" theme="bootstrap" close-on-select="false">
                <ui-select-match>{{$item.label}}</ui-select-match>
                <ui-select-choices repeat="item in arrs | filter: $select.search">
                  <div ng-bind-html="item.label"></div>
                </ui-select-choices>
              </ui-select>
            </div>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.arrondissement.$error.required">Veuillez spécifier l'arrondissement dans lequel vous souhaitez chercher.</div>
            </div>
          </div>           

          <div class="row searchFieldForm">
            <label class="col-lg-3">Surface (min et max)</label> 
            <div class="col-lg-3">
              <div class="input-group">
                <input class="form-control" type="number" name="surfacemin" ng-model="searchData.surfacemin" required/>
                <span class="input-group-addon">m2</span>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="input-group">
                <input class="form-control" type="number" name="surfacemax" ng-model="searchData.surfacemax" required/>
                <span class="input-group-addon">m2</span>
              </div>
            </div>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.surfacemin.$error.required || form.surfacemax.$error.required">Veuillez spécifier la surface.</div>
            </div>
          </div>

          <div class="row searchFieldForm">
            <label class="col-lg-3">Budget (min et max)</label> 
            <div class="col-lg-3">
              <div class="input-group">
                <input class="form-control" type="number" name="pxmin" ng-model="searchData.pxmin" required/>
                <span class="input-group-addon">€</span>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="input-group">
                <input class="form-control" type="number" name="pxmax" ng-model="searchData.pxmax" required/>
                <span class="input-group-addon">€</span>
              </div>
            </div>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.pxmin.$error.required || form.pxmax.$error.required">Veuillez spécifier votre budget.</div>
            </div>
          </div>

          <div class="row searchFieldForm">
            <label class="col-lg-3">Nombre de pièces (min et max)</label> 
            <div class="col-lg-3">
              <div class="input-group">
                <input class="form-control" type="number" name="nb_piecesmin" ng-model="searchData.nb_piecesmin" required/>
                <span class="input-group-addon">pièces</span>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="input-group">
                <input class="form-control" type="number" name="nb_piecesmax" ng-model="searchData.nb_piecesmax" required/>
                <span class="input-group-addon">pièces</span>
              </div>
            </div>
            <div ng-show="form.$submitted">
              <div class="form-error" ng-show="form.nb_piecesmin.$error.required || form.nb_piecesmax.$error.required">Veuillez spécifier le nombre de pièces.</div>
            </div>
          </div>

          <div class="row searchFieldForm">
            <label class="col-lg-3">Nombre de chambres (min)</label> 
            <div class="col-lg-3">
              <input class="form-control" type="number" min="0" name="nb_chambresmin" ng-model="searchData.nb_chambresmin" required/>
            </div>
            <div ng-show="form.$submitted">
              <div class="help-block text-danger" ng-show="form.nb_chambresmin.$error.required">Veuillez spécifier le nombre de chambres minimum.</div>
            </div>
          </div>

          <!-- <div class="col-md-8">
            <div class="form-group">
              <div class="col-md-5">
                <label>Nombre de chambres min</label> 
              </div>
              <div class="col-md-7">
                <input class="form-control" type="number" min="0" name="nb_chambresmin" ng-model="searchData.nb_chambresmin" required/>
                <div ng-show="form.$submitted">
                  <p class="help-block text-danger" ng-show="form.nb_chambresmin.$error.required">Veuillez spécifier le nombre de chambres minimum.</p>
                </div>
              </div>
            </div>
          </div> -->

            <div class="row searchFieldForm">
              <label class="col-lg-3">Emails à associer à la recherche</label> 
              <div class="col-lg-3">
                <!-- <input class="form-control" type="text" ng-model="searchData.users"/> -->
                <tags-input ng-model="searchData.users"></tags-input>
              </div>
            </div>

          <div>
            <button type="submit" class="btn btn-primary">Créer la recherche</button>
          </div>
        </form>
      </div>
  </div>
        
  </div>
</section>

<!-- <div class="show-hide-message" ng-show="message">
  <div>

    <div class="alert alert-info">
      {{ message }}
    </div>

  </div>
</div> -->

