<section class="pageSection">
    <div class="container">
        <div class="row text-center spinnerContainer" ng-show="processing">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fa fa-spinner fa-spin fa-stack-1x text-primary"></i>
                </span>
            </div>
        </div>

        <div ng-hide="processing">

            <div class="row">
                <div class="backLink">
                    <span><i class="fa fa-chevron-left text-primary"></i></span> <a ng-href="/searchs">Retour aux recherches</a>
                </div> 
            </div>

            <div class="row">
                
                <div id="searchContainer" class="col-md-12">
                    <div>
                        <h4>{{ search.name }} ({{ search.apparts.length }} annonces)
                            <span class="hidden-xs hidden-sm label label-default">{{ search.status ? "Recherche activée" : "Recherche en pause" }}</span>
                        </h4>

                        <div class="dropdown">
                            <a data-toggle="dropdown" class="fa-stack fa-2x dropdown-toggle"><i class="fa fa-ellipsis-v"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="toggleStatusSearch(search._id)">{{ search.status ? "Mettre en pause" : "Activer" }}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#inviteFriendModal">Ajouter un utilisateur</a></li>
                                <li><a ng-href="/searchs/{{ search._id }}/edit">Modifier</a></li>
                                <li><a href="#" ng-click="deleteSearch(search._id)">Supprimer</a></li>
                            </ul>
                        </div>

                        <h4 class="visible-xs visible-sm">
                            <span class="label label-default">{{ search.status ? "Recherche activée" : "Recherche en pause" }}</span>
                        </h4>
                    </div>

                    <div class="row hidden-xs">

                        <div class ="col-md-4 col-sm-6 ">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td class="col-md-4 col-sm-4">Opération</td><td class="col-md-8 col-sm-8"><span> {{ search.idtt == 1 ? "Location" : "Achat" }} </span></td></tr>
                                    <tr><td>Bien</td><td><span>{{ search.idtypebien == 1 ? "Appartement" : "Maison" }}</span></td></tr>
                                    <tr><td class="col-md-4 col-sm-4">Budget</td><td class="col-md-8 col-sm-8"><span> {{ search.pxmin | currency:undefined:0 }} - {{ search.pxmax | currency:undefined:0 }} </span></td></tr>
                                </tbody>
                            </table>
                        </div>

                        <div class ="col-md-4 col-sm-6">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td class="col-md-4 col-sm-4">Ville</td><td class="col-md-8 col-sm-8"><span> {{ search.city }} </span></td></tr>
                                    <tr><td>Localisation</td><td><span ng-repeat="arrondissement in search.ci" class="label label-default">{{ arrondissement }}</span></td></tr>
                                    <tr><td>Metro</td><td><span> </span></td></tr>
                                </tbody>
                            </table>
                        </div>

                        <div class ="col-md-4 col-sm-6">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td>Surface</td><td><span>{{ search.surfacemin }} m2 - {{ search.surfacemax }} m2</span></td></tr>
                                    <tr><td>Pièces</td><td><span>>= {{ search.nb_piecesmin }}</span></td></tr>
                                    <tr><td>Chambres</td><td><span>>= {{ search.nb_chambresmin }}</span></td></tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row visible-xs">
                        <div class="col-xs-12">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td class="col-xs-4">Opération</td><td class="col-xs-8"><span> {{ search.idtt == 2 ? "Location" : "Achat" }} </span></td></tr>
                                    <tr><td>Bien</td><td><span>{{ search.idtypebien == 1 ? "Appartement" : "Maison" }}</span></td></tr>
                                    <tr><td>Budget</td><td><span> {{ search.pxmin | currency:undefined:0 }} - {{ search.pxmax | currency:undefined:0 }} </span></td></tr>
                                    <tr><td>Ville</td><td><span> {{ search.city }} </span></td></tr>
                                    <tr><td>Localisation</td><td><span ng-repeat="arrondissement in search.ci" class="label label-default">{{ arrondissement }}</span></td></tr>
                                    <tr><td>Surface</td><td><span>{{ search.surfacemin }} m2 - {{ search.surfacemax }} m2</span></td></tr>
                                    <tr><td>Pièces</td><td><span>>{{ search.nb_piecesmin }}</span></td></tr>
                                    <tr><td>Chambres</td><td><span>>{{ search.nb_chambresmin }}</span></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <p>
                        Emails associés :  <span ng-repeat="user in search.users" class="label label-info">{{ user.username }}</span>
                    </p>

                </div>

            </div>
  
        </div>
    </div>
</section>

<!-- invite friend modal -->

<div id="inviteFriendModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div ng-controller="loginController" class="modal-content">
      <div class="modal-header">
        <span class="fa-stack fa-2x close-modal" data-dismiss="modal"><i class="fa fa-times-circle"></i></span>
        <p>Ajouter une personne</p>
      </div>
      <div class="modal-body">
          <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
          <form name="form.invite" class="form css-form" ng-submit="form.invite.$valid && inviteFriend()" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" name="username" required ng-model="friendForm.username" data-validation-required-message="Veuillez entrer l'email de la personne à ajouter.">
                                
                <div ng-show="form.invite.$submitted">
                    <p class="form-error" ng-show="form.invite.username.$error.required">Veuillez entrer l'email de la personne à ajouter à la recherche.</p>
                    <p class="form-error" ng-show="form.invite.username.$error.email">Cet email n'est pas valide.</p>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary center-block" ng-disabled="disabled">Ajouter l'email</button>
            </div>
          </form>          
      </div>
    </div>

  </div>
</div>