<section id="portfolio" class="pageSection">
    <div class="container">

		<div class="row text-center spinnerContainer" ng-show="processing">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fa fa-spinner fa-spin fa-stack-1x text-primary"></i>
                </span>
            </div>
        </div>

        <div class="row">

            <div class="col-md-10 col-md-offset-1 timeline-heading row text-center" ng-show="apparts == '' && searchs == ''" >
                </br>
                </br>
                <h4 class="subheading">Vous devez d'abord créer une recherche</br></br>pour recevoir des annonces personnalisées !</h4>
                </br>
                </br>
                <div class="col-md-6 col-md-offset-3">
                    <a href="/searchs/new" class="btn btn-primary">Nouvelle recherche</a>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 timeline-heading row text-center" ng-show="apparts == '' && searchs != ''" >
                </br>
                </br>
                <h4 class="subheading">On dirait qu'il n'y a pas encore d'annonces correspondant à votre recherche...</br></br>Patience ! Vous recevrez bientôt nos alertes pour trouver votre bonheur</h4>
                </br>
                </br>
                <div class="col-md-6 col-md-offset-3">
                    <a href="/searchs/new" class="btn btn-primary">Nouvelle recherche</a>
                </div>
            </div>

            <div class="container" ng-hide="processing">
                
            <div class="row appartTitleRow" ng-show="apparts != ''">
                <div class="col-md-3">
                    <h4>Filtres</h4>
                </div>

                <div class="col-md-3 col-md-offset-3">
                    <h4>{{ filteredApparts.length }} {{ filteredApparts.length > 0 ? "résultats" : "résultat" }}</h4>
                </div>

                <div class="col-md-3">
                    <div class="sortMenu">

                        <div class="dropdown">
                                
                            <a data-toggle="dropdown" class="dropdown-toggle">Trier par {{ orderLabel }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li ng-repeat="(key, data) in orderOptions"><a href="#" ng-click = "updateOrder(key, data)">{{ data }}</a></li>
                            </ul>

                        </div>
                    </div> 
                </div>

            </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4" ng-show="apparts != ''">  
                        <div class="filterMenu">

                            <p class="filterTitle">Statut</p>
                            <ul class="list-group">
                                <li class="list-group-item" ng-click="setFilter('like',flow)" ng-repeat= "flow in flows" ng-class="filters.like[0].flow == flow ? 'active' : 'disable'">{{ flow }} <span class="badge">{{ (apparts | filterBy : ['like[0].flow']: flow ).length }}</span></li>
                            </ul>

                            <p class="filterTitle">Surface</p>
                            <rzslider rz-slider-model="surfaceSlider.minValue" rz-slider-high="surfaceSlider.maxValue" rz-slider-options="surfaceSlider.options"></rzslider> 
                            
                            <p class="filterTitle">Budget</p>
                            <rzslider rz-slider-model="priceSlider.minValue" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"></rzslider>
                            
                            <p class="filterTitle">Localisation</p>
                            <ul class="list-group">
                                <li class="list-group-item" ng-click="setFilter('arrondissement', appart.arrondissement)" ng-repeat="appart in apparts | unique:'arrondissement' | orderBy : 'arrondissement'" ng-class="filters.arrondissement == appart.arrondissement ? 'active' : 'disable'">{{ appart.arrondissement }} <span class="badge">{{ (apparts | filterBy : ['arrondissement']: appart.arrondissement ).length }}</span></li>
                            </ul>

                            <p class="filterTitle">Recherche</p>
                            <ul class="list-group">
                                <li class="list-group-item" ng-click="setFilter('search', search._id)" ng-repeat= "search in searchs" ng-class="filters.search[0] == search._id ? 'active' : 'disable'">{{ search.name }} <span class="badge">{{ (apparts | filterBy : ['search[0]']: search._id ).length }}</span></li>
                            </ul>

                            <div class="clearFilters" ng-hide="activeFilters()" ng-click="resetFilters()"><a href="">Effacer les filtres</a></div>

                        </div>
                    </div>
                
                    <div class="col-lg-9 col-md-8 mainCol">
                      
                        <div class="col-lg-4 col-md-6 col-sm-6 portfolio-item" ng-show="apparts != ''" ng-repeat="appart in apparts | filter: filters | filter:surfaceRange | filter:priceRange | orderBy: order:reverse as filteredApparts">
                            <a href="/apparts/{{ appart._id }}" class="portfolio-link">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img ng-hide="appart.bigPhotos[0] || appart.stdPhotos[0]" ng-src="assets/img/team/2.jpg" class="img-responsive" alt="">
                                <img ng-show="appart.bigPhotos[0] || appart.stdPhotos[0]" ng-src="{{ appart.bigPhotos[0] ? appart.bigPhotos[0] : appart.stdPhotos[0]}}" class="img-responsive" alt="">
                            </a>

                            <div class="portfolio-caption">
                                <h4>{{ appart.arrondissement }} - {{ appart.price | currency:undefined:0 }} - {{ appart.surface }} m2</h4>
                                <h4>{{ appart.like[0].flow }}</h4>
                                <div class="dropdown">
                                    <a data-toggle="dropdown" class="fa-stack fa-2x dropdown-toggle"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu">
                                      <li ng-repeat="flow in flows"><a href="#" ng-click = "updateLikeFlow(appart.like[0]._id, flow, appart)"> {{ flow }}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" ng-click = "deleteLike(appart.like[0]._id)"> Supprimer</a></li>
                                    </ul>
                                </div>

                                </div> 
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            
        </div>    
    </div>
</section>