<section id="portfolio" class="pageSection">
    <div class="container">
        <div class="row text-center spinnerContainer" ng-show="processing">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fa fa-spinner fa-spin fa-stack-1x text-primary"></i>
                </span>
            </div>
        </div>

        <div ng-hide="processing">

            <div class="row">
                <div class="backLink">
                    <span><i class="fa fa-chevron-left text-primary"></i></span> <a ng-href="/apparts">Retour aux annonces</a>
                </div> 
            </div>

            <div class="row">

                <div class ="col-lg-9 col-md-8 col-sm-7">
                    <div id="appartContainer">
                        <h4><a ng-href="{{appart.link}}" target="blank">{{ appart.title }} - {{ appart.city }}</a>
                            <span class="hidden-xs hidden-sm label label-default">{{ appart.like[0].flow }}</span>
                        </h4>

                        <div class="dropdown">                      
                            <a data-toggle="dropdown" class="fa-stack fa-2x dropdown-toggle"><i class="fa fa-ellipsis-v"></i></a>
                            <ul class="dropdown-menu">
                              <li ng-repeat="flow in flows"><a href="#" ng-click = "updateLikeFlow(appart.like[0]._id, flow, appart)"> {{ flow }}</a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click = "deleteLike(appart.like[0]._id)"> Supprimer</a></li>
                            </ul>
                        </div>

                        <h4 class="visible-xs visible-sm">
                            <span class="label label-default">{{ appart.like[0].flow }}</span>
                        </h4>

                        <p>{{ appart.description }}</p>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 portfolio-item" ng-repeat="picture in appart.stdPhotos">
                                <!-- <a href="#pictureDetails" class="portfolio-link" data-toggle="modal">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content">
                                            <i class="fa fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    <img ng-click="pictureIndex=2" ng-src="{{ picture }}" class="img-responsive" alt="">
                                </a> -->
                                <a class="portfolio-link hidden-xs" data-ng-click="pictureDetails($index)">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content">
                                            <i class="fa fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    <img ng-src="{{ picture }}" class="img-responsive" alt="">
                                </a>

                                <a class="portfolio-link visible-xs">
                                    <img ng-src="{{ picture }}" class="img-responsive" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div id="sideContainer">
                        <table class="table table-striped">
                            <tbody>
                                <tr><td class="col-md-6">Ville</td><td class="col-md-6"><span>{{ appart.city }}</span></td></tr>
                                <tr><td>Quartier</td><td><span>{{ appart.arrondissement }}</span></td></tr>
                                <tr><td>Prix</td><td><span>{{ appart.price | currency:undefined:0 }}</span></td></tr>
                                <tr><td>Surface</td><td><span>{{ appart.surface }} m2</span></td></tr>
                                <tr><td>Prix au m2</td><td><span>{{ appart.pm | currency:undefined:0 }}</span></td></tr>
                                <tr><td>Pièces</td><td><span>{{ appart.rooms }}</span></td></tr>
                                <tr><td>Chambres</td><td><span>{{ appart.bedrooms == -1 ? "NC" : appart.bedrooms }}</span></td></tr>
                            </tbody>
                        </table>

                        <table class="table table-striped">
                            <tbody>
                                <tr><td><span>Notes </span><a href="#" data-toggle="modal" data-target="#addNoteModal"><i class="fa fa-pencil"></i></a></td></tr>
                                <tr><td>{{ appart.like[0].note ? appart.like[0].note : "N'hésitez pas à compléter les informations de votre bien !"}}</td></tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

            <div class="row">
                
            </div>    
        </div>
    </div>
</section>

<div id="picture-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" ng-class="bigPicAvailable ? 'bigPicture' : 'stdPicture'">

    <div class="modal-content">
      
      <div class="modal-body">
        <img class="img-responsive" ng-src="{{currentPicture}}" alt="">
        <span ng-show="picturesLength > 1" data-ng-click="pictureDetails(carouselLeft)" class="fa-stack fa-4x leftCarousel"><i class="fa fa-chevron-left"></i></span>
        <span ng-show="picturesLength > 1" data-ng-click="pictureDetails(carouselRight)" class="fa-stack fa-4x rightCarousel"><i class="fa fa-chevron-right"></i></span>
      </div>
    </div>

  </div>
</div>

<!-- Add note modal -->

<div id="addNoteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-body">
          <form name="form.note" class="form css-form" ng-submit="updateLikeNote(appart.like[0]._id, appart.like[0].note, appart)" novalidate>
            <div class="form-group">
                <textarea type="text" rows="10" class="form-control" placeholder="Note" name="note" ng-model="appart.like[0].note"></textarea>
            </div>

            <div>
                <button type="submit" class="btn btn-primary center-block" ng-disabled="disabled">Mettre à jour la note</button>
            </div>
          </form>          
      </div>
    </div>

  </div>
</div>