<section class="pageSection">
  <div class="container">
    <div class="row text-center spinnerContainer" ng-show="processing">
      <div>
        <span class="fa-stack fa-4x">
          <i class="fa fa-spinner fa-spin fa-stack-1x text-primary"></i>
        </span>
      </div>
    </div>

    <div ng-hide="processing">
      <div class="row">
        <h4>{{ users.length }} utilisateurs inscrits</h4>
      </div>

      <div class="row"> 

        <table class="searchsList table table-hover">
          <thead>
            <tr>
              <th class="">Utilisateur</th>
              <th class="">Email</th>
              <th class="">Validé</th>
              <th class=""># recherches</th>
              <th></th>
            </tr>
          </thead>
                
          <tbody>
            <tr ng-repeat="user in users">
                <td><a ng-href="/users/{{ user._id }}">{{ user.name }} {{ user.surname }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.isAuthenticated == true ? "Oui" : "Non" }}</td>
                <td>{{ user.searchs.length }}</td>
                <td><a ng-click="deleteUser(user._id)" class="btn">Supprimer</a></td>
            </tr>
          </tbody>
        </table>
      
      </div>
    </div>
  </div>
</section>