<section class="pageSection">
    <div class="container">
        <div class="row text-center spinnerContainer" ng-show="processing">
            <div class="col-md-4 col-md-offset-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-spinner fa-spin fa-stack-1x text-primary"></i>
                </span>
            </div>
        </div>

        <div ng-hide="processing">

            <div id="userContainer">
                <div class="row">
                    <h4>Mon profil</h4>
                    <p>Prénom : {{user.name}}</p>
                    <p>Nom : {{user.surname}}</p>
                    <p>Email : {{user.username}}</p><button class="btn btn-primary" ng-click="forgotPassword()">Modifier mon mot de passe</button>
                </div>
            </div>
  
        </div>
    </div>
</section>